<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>assigncustomergroup</name>
	<displayName><![CDATA[Assign second customer group]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[this module assigns visitors as a second group after the registration]]></description>
	<author><![CDATA[iamshoaibktk@gmail.com]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
